@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}



html,
body {
    height: 100%;
}

:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;

    --border-radius: 12px;

    --font-color: #323232;
}

h2 {
    font-family: 'JetBrains Mono', monospace, 'Open Sans', sans-serif;
    margin: 0;
    margin-bottom: var(--spacing-2);
}

body {
    font-family: 'JetBrains Mono', monospace, 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #FFB24D;
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#logo {
    margin: 0;
    font-family: 'JetBrains Mono', monospace, 'Open Sans', sans-serif;
    font-size: 30px;
}

a {
    color: #3572A5;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #3572A5;
    text-decoration: underline;
}

a:active {
    color: #000;
}

a:visited {
    color: #800080;
}

#logo a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

#logo a:hover {
    color: #3572A5;
    text-decoration: underline;
}

#logo a:active {
    color: #000;
}

#logo a:visited {
    color: #8e0a8e;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background: var(--dark-blue);
}

.nav-liste {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.nav-item {
    margin: var(--spacing-1);
    font-size: 25px;
}

.nav-item a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

.nav-item a:hover {
    color: #3572A5;
    text-decoration: underline;
}

.nav-item a:active {
    color: #000;
}

.nav-item a:visited {
    color: #8e0a8e;
}

.portrait {
    width: 350px;
    height: 350px; 
    border-radius: 50%;
    flex-shrink: 0;
}

.über-mich-container {
    display: flex;
}

.über-mich-wörter-container {
    margin-right: var(--spacing-3);
}


.projekt-titel h3 {
    display: inline;
}

details {
    cursor: pointer;
}

summary {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

.icon {
    font-size: 2em;
    color: var(--font-color);
    margin: 0 var(--spacing-1);
}

#zeit-container {
    color: #3572A5;
}


.über-mich-container a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

.über-mich-container a:hover {
    color: #3572A5;
    text-decoration: underline;
}

.über-mich-container a:active {
    color: #000;
}

.über-mich-container a:visited {
    color: #800080;
}

.projekt-titel a {
    color: #3572A5;
    text-decoration: none;
    font-weight: 600;
}

.projekt-titel a:hover {
    color: #3572A5;
    text-decoration: underline;
}

.projekt-titel a:active {
    color: #000;
}

.projekt-titel a:visited {
    color: #800080;
}

.social-icons i {
  font-size: 24px; 
}

#container-fähigkeiten {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#container-fähigkeiten > * {
    font-size: 2em;
    width: 2em;
    margin-top: var(--spacing-1);
}

#fähigkeiten {
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}

span {
    margin-left: 5px;
}

.footer-name {
    font-size: 16px;
    margin-left: 5px;
}

footer .social-icons a i {
    font-size: 30px;
    color: #1DA1F2;
}

footer .social-icons a i.fab.fa-linkedin {
    color: #0A66C2;
}

footer .social-icons a i.fab.fa-github {
    color: #181717;
}
.social-icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.social-icons a {
    margin: 0 10px;
    font-size: 40px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }

    .portrait {
        width: 200px;
        height: 200px;
    }

    .nav-liste {
        margin: 0; /* Reset margin for navigation list */
    }

    .nav-item {
        margin: var(--spacing-1); /* Restore margin for navigation items */
        font-size: 16px;
    }

    .icon {
        font-size: 1.5em;
    }

    /* Reduce spacing between navigation items */
    .nav-liste .nav-item:not(:last-child) {
        margin-right: var(--spacing-1);
    }

    /* Adjust spacing for the über-mich-container */
    .über-mich-wörter-container {
        margin-right: 0;
        margin-bottom: var(--spacing-2);
    }

    /* Reduce spacing between links in the container */
    .über-mich-container a,
    .projekt-titel a {
        margin: 0 var(--spacing-1);
    }
    
    /* Adjust spacing for social icons */
    .social-icons a {
        margin: 0 8px;
        font-size: 30px;
    }

    /* Adjust spacing for the footer */
    footer {
        margin-top: 30px;
        font-size: 16px;
    }

    /* Adjust spacing for the icon in the footer */
    footer .social-icons a i {
        font-size: 24px;
    }
}
