@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}



html,
body {
    height: 100%;
    color: var(--font-color);
}

:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;

    --border-radius: 12px;

    --font-color: #323232;
}

h2 {
    font-family: 'JetBrains Mono', monospace, 'Open Sans', sans-serif;
    margin: 0;
    margin-bottom: var(--spacing-2);
}

body {
    font-family: 'JetBrains Mono', monospace, 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #FFB24D;
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background: var(--dark-blue);
}

.nav-liste {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.nav-item {
    margin: var(--spacing-1);
    font-size: 25px;
}

.nav-item a {
    text-decoration: none;
    color: #333;
}

.nav-item a:hover {
    color: #3572A5; 
}

.portrait {
    width: 350px;
    height: 350px; 
    border-radius: 50%;
    flex-shrink: 0;
}

.über-mich-container {
    display: flex;
}

.über-mich-wörter-container {
    margin-right: var(--spacing-3);
}


.projekt-titel h3 {
    display: inline;
}

details {
    cursor: pointer;
}

summary {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-size: 20px;
    text-align: center;
}

span {
    margin-left: 5px;
}
.footer-name {
    font-size: 16px;
    margin-left: 5px;
}

i {
    font-size: 15px;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 20px;
}


section {
    padding: var(--spacing-3) 0;
}

.icon {
    font-size: 2em;
    color: var(--font-color);
    margin: 0 var(--spacing-1);
}

#zeit-container {
    color: #3572A5;
}

section a {
    text-decoration: underline;
}

a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #3572A5;
    text-decoration: none;
}

a:active {
    color: #000;
}

a:visited {
    color: #6A0DAD;
}

#logo {
    margin: 0;
    font-family: 'JetBrains Mono', monospace, 'Open Sans', sans-serif;
    font-size: 30px;
}

.social-icons i {
  font-size: 24px; 
}

#container-fähigkeiten {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#container-fähigkeiten > * {
    font-size: 2em;
    width: 2em;
    margin-top: var(--spacing-1);
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .portrait {
        width: 250px;
        height: 250px;
    }

    .über-mich-wörter-container {
        margin-right: 0;
        margin-bottom: var(--spacing-3);
    }

    .nav-item {
        margin: var(--spacing-1);
        font-size: 20px;
    }

    .icon {
        font-size: 1.5em;
        margin: 0 var(--spacing-1);
    }
}