/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

html {
    background-color: #FFB24D;
}

main {
    font-family: 'JetBrains Mono', monospace, 'Open Sans', sans-serif;
    padding: var(--spacing-3);
    font-size: 20px;
}

h2 {
    color: #000;
}

footer {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.social-icons a {
    display: inline-block;
    margin: 10px;
    color: #333;
    font-size: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background: var(--dark-blue);
  }

.nav-liste {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.nav-item {
    margin: var(--spacing-2);
}

.nav-item a {
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace, 'Open Sans', sans-serif;
    font-size: 30px;
    color: #000;
    margin-right: 20px;
}

.nav-item a:hover {
    color: #3572A5; 
}

#logo {
    font-family: 'JetBrains Mono', monospace, 'Open Sans', sans-serif;
    font-size: 50px;
}

a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #3572A5;
    text-decoration: none;
}

a:active {
    color: #000;
}

a:visited {
    color: #6A0DAD;
}

p {
    font-size: 10px;
}

.social-icons {
    margin-top: 20px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}

.project-item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: #FFB24D;
    border-radius: 5px;
    padding: 5px;
}

.project-item.large-image {
    width: 100%;
}

.project-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-liste {
        margin-top: 20px;
    }

    .nav-item {
        margin: var(--spacing-1);
    }
}